<!-- <div class="container">
  <kles-carousel [slides]="slides" [animationType]="animationType"></kles-carousel>
  <div class="animition-type-selector">
    <div class="title">Let's Play! 😎</div>
    <div
      *ngFor="let type of animationTypes"
      class="button"
      (click)="setAnimationType(type)"
      [class.active]="animationType === type.value"
    >
      {{ type.name }}
    </div>
  </div>
</div> -->
<div style="height: 300px; width:500px">
  <kles-carousel [slides]="slides" [animationType]="animationType"></kles-carousel>
</div>
